#a1{
	text-align: center;
  
    padding-top: 10px;
   
    margin-bottom: 0;
	
}
#a2{
	
	    text-align: center;
}
#b1{
	
	background-color:#f2f2f2;
}
#b2{
	
	background-color:#f2f2f2;
}
#body{
	
    margin: 0;
	
}
.b a:hover{
	
	border:7px solid black;
}
	.a1{
text-align:center;
margin:15px;
}
.b{
display:inline-block;
}
.doc{
  width: 100%;
  background: #f1f1f1;
  margin: auto;
}
section p{
  overflow: hidden;
  max-height: 0em;
  padding: 0;
  margin: 0;
  text-align: justify;
  font-family: intro;
  background: #e4e4e4;
}
section a {
text-decoration: none;
display: block;
text-align: left;
padding: 10px;
background: black;
border-bottom: 2px solid gray;
color: white;
}
section:target p{
  max-height: 20em;
  padding: 10px;
}